body{
    background-color: rgb(196, 245, 255);
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: auto;
}

.display {
  width: 80%;
  height: 50px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
}

.complete-operation {
  width: 80%;
  min-height: 30px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
  font-size: 0.8rem;
  overflow: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
}

.calculator{
    border: solid rgb(168, 61, 214) 5px;
    width: 300px;
    height: 400px;
    background-color: #b2a1d8;
    border-radius: 20px;
}